body {
  padding: 0px 2rem;
  background-color: rgb(217, 217, 221);
}

.message-form {
  padding: 0;
  position: fixed;
  bottom: 20px;
  width: 60%;
  margin-left: 10%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: none;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.message-input {
  margin: 0;
  width: 70%;
  height: 3rem;
  /* border: 1 px solid grey; */
  /* border-right: none; */
  border: none;
  padding-left: 1em;
  font-size: 1rem;
}

.btn-location {
  border-radius: 5px 0 0 5px;
  border: none;
  width: 10%;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-location i {
  font-size: 1.5rem;
  color: red;
  cursor: pointer;
}

.message-input:focus {
  outline: none;
  border-color: green;
}

.btn-send {
  width: 20%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border: none;
  font-size: 1rem;
  background-color: rgb(31, 223, 127);
  cursor: pointer;
  border-radius: 0 5px 5px 0;
}
